.jumbotron{
    background-color: #0d7377;
    color: white;
}
.card-hotel{
    flex: 1 20vw;
    padding: 10px;
}
.btn-card{
    background-color: #0d7377;
    color: white;
    width: 100%;
    max-width: 200px;!important
}
.btn:hover{
    background-color: #212121;
    color: white;
}
.pie{
    display: flex;
    margin: 0 auto;
    background-color: #0d7377;
    align-items: center;
}
.contRedes{
    color: white;
    padding: 10px;
    margin-top: 10px;
}
.redes{
    text-decoration: none;
    color: white;
}
.redes:hover{
    color:white;
}